@media (width>1280px) {
  header {
    justify-content: start;
    align-items: start;
    width: 508px;
    max-height: 200px !important;
    box-sizing: border-box;
  }
  h1 {
    font: var(--display-lg) !important;
    height: 167px !important;
    box-sizing: border-box;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 46px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font: var(--overline);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font: var(--display-md);
  }
}
